<div layout="row" layout-align="start center" class="bgc-black">
    <button md-icon-button [disabled]="!canShowPrevious()" (click)="previousPage()">
        <md-icon *ngIf="canShowPrevious()">arrow_back</md-icon>
    </button>
    <span class="md-subhead">Browse Files</span>
</div>
<md-divider></md-divider>
<div flex class="md-content">
    <md-nav-list dense>
        <ng-template let-file let-last="last" ngFor [ngForOf]="files">
            <a md-list-item class="directory text-truncate" (click)="loadFiles(file.name, true)">
                <md-icon md-list-icon>{{file.icon}}</md-icon> {{file.name}}
            </a>
            <md-divider *ngIf="!last"></md-divider>
        </ng-template>
    </md-nav-list>
</div>
<md-divider></md-divider>
<div class="td-layout-footer bgc-black pad-xs" layout="row" layout-align="end">
    <button md-icon-button [disabled]="!canShowPrevious()" (click)="previousPage()"><md-icon>keyboard_arrow_left</md-icon></button>
    <button md-icon-button [disabled]="!canShowNext()"(click)="nextPage()"><md-icon>keyboard_arrow_right</md-icon></button>
</div>
