<td-layout-card-over>
  <div layout="row" layout-align="start center">
    <md-icon class="md-icon-svg-lg" svgSrc="app/assets/icons/covalent.svg"></md-icon>
    <div>
      <md-card-title>Teradata Electron Covalent UI Platform</md-card-title>
    <md-card-subtitle>built on Teradata Covalent</md-card-subtitle>
    </div>
  </div>
  <md-divider></md-divider>
  <md-card-actions>
    <a href="https://gitter.im/Teradata/covalent" target="_blank" md-button color="primary">Gitter Chat</a>
    <a href="https://github.com/teradata/covalent/issues" target="_blank" md-button>Bug or Feature Request</a>
  </md-card-actions>
</td-layout-card-over>
