@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';
@import '~@covalent/highlight/highlight-theme';
// Plus imports for other components in your app.


// Custom typography
$custom-typography: mat-typography-config(
  $button: mat-typography-level(14px, 14px, 400)
);
$custom-toolbar-typography: mat-typography-config(
  $title: mat-typography-level(20px, 32px, 400)
);

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core($custom-typography);

// Setting the toolbar to the proper spec weight
@include mat-toolbar-typography($custom-toolbar-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$primary: mat-palette($mat-grey, 900);
$accent:  mat-palette($mat-orange, 800, A100, A400);

// The warn palette is optional (defaults to red).
$warn:    mat-palette($mat-red, 600);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-dark-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);
@include covalent-theme($theme);
@include covalent-highlight-theme(); // OR @import '~highlight.js/styles/vs.css';


// Theme components
$background: map-get($theme, background);

// Active icon color in list nav
mat-nav-list {
    [mat-list-item].active {
        mat-icon[matListAvatar] {
            background-color: mat-color($accent);
            color: mat-color($accent, default-contrast)
        }
        mat-icon[matListIcon] {
            color: mat-color($accent);
        }
    }
}

// Active button toggle
.mat-button-toggle-checked .mat-button-toggle-label-content {
    background-color: mat-color($background, status-bar);
}